@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');}
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');body{font-family:'Roboto', sans-serif;position:relative;}
/*Begin Loader*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #43e38d;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #d9534f;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: whitesmoke;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

/* End of loader*/
html, body{width:100%; margin:0;}
.banner{background-color:#00d965;position:fixed;width:100%;color:white;z-index:1000;display:none;}
.banner .pull-right{margin-right:0px!important;padding-right:0px!important;}
.banner .pull-left{padding-top:5px;}
.banner a{color:white;}
.banner button{border-radius:0px!important;}
.jumbotron{background-image:url('files/bground2.jpg');background-size:cover;height:800px;margin-bottom:-20px;color:white;}
input{font-size:20px;}
textarea{font-size:15px;}
.thanks{display:none;}
.jumbotron h1{padding-top:75px;}
.jumbotron p{font-family:'Roboto', sans-serif;font-weight:400;}
header{position:fixed;background-color:white;width:100%;z-index:999;margin-top:28px;margin-bottom:-5px}
header img{padding-top:22px;z-index:1000;}
.ss-form-entry{padding-bottom:30px;}
.img-responsive{margin:0 auto;}
.logo{width:380px;}
.row,
.form{padding-bottom:100px;}
.footer_row{padding-bottom:0px;}
.section2{width:100%;height:100%;background-image:url('files/div2.png');color:white;margin-top:0px;margin-bottom:-20px;}
.section2 h1{text-align:center;padding-top:100px;padding-bottom:75px;}
.section2 h3{text-align:center;}
.section3{width:100%;height:100%;background-image:url('files/small_steps.png');margin-bottom:-20px;}
.section3 h1{text-align:center;padding-top:100px;padding-bottom:75px;color:darkslategray;}
.section4{width:100%;height:100%;background-image:url('files/grey_wash_wall.png');margin-bottom:0px;color:white;margin-bottom:-20px;}
.section4 h1{text-align:center;padding-top:100px;padding-bottom:75px;color:white;}
.section5{width:100%;height:100%;background-image:url('files/linedpaper.png');margin-bottom:-20px;}
.section5 h1{text-align:center;padding-top:100px;padding-bottom:25px;color:darkslategray;}
footer{width:100%;height:100%;text-align:center;background-image:url('files/dark_embroidery.png');color:white;}
footer a{color:whitesmoke;}
footer a:hover{color:lightgray;}
footer ul{list-style-type:none;margin-left:-40px;}
.thumbnail img{padding:20px;}
.nav li{display:inline-block;}
.nav li a{font-size:20px;color:black;padding-bottom:25px;padding-top:25px;}
.pull-right{padding-right:50px;}
.btn-success{background-color:rgb(0,217,101);border-color:rgb(0,217,101);}
.caption{text-align:center;}
.card-container{-webkit-perspective:800px;-moz-perspective:800px;-o-perspective:800px;perspective:800px;margin-bottom:30px;}
.card-container:not(.manual-flip):hover .card{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);}
.card{-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;-o-transition:-o-transform .5s;transition:transform .5s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d;position:relative;}
.front,
.back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:0;left:0;background-color:#FFF;box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.14);}
.front{z-index:2;}
.back{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);z-index:3;}
.card{background:none repeat scroll 0 0 #FFFFFF;border-radius:4px;color:#444444;}
.card-container,
.front,
.back{width:100%;height:420px;border-radius:4px;}
.card .cover{height:105px;overflow:hidden;border-radius:4px 4px 0 0;}
.card .cover img{width:100%;}
.card .user{border-radius:50%;display:block;height:120px;margin:-55px auto 0;overflow:hidden;width:120px;}
.card .user img{background:none repeat scroll 0 0 #FFFFFF;border:4px solid #FFFFFF;width:100%;}
.card .content{background-color:rgba(0, 0, 0, 0);box-shadow:none;padding:10px 20px 20px;}
.card .content .main{min-height:160px;}
.card .back .content .main{height:215px;}
.card .name{font-size:22px;line-height:28px;margin:10px 0 0;text-align:center;text-transform:capitalize;}
.card h5{margin:5px 0;font-weight:400;line-height:20px;}
.card .profession{color:#999999;text-align:center;margin-bottom:20px;}
.card .footer{border-top:1px solid #EEEEEE;color:#999999;margin:30px 0 0;padding:10px 0 0;text-align:center;}
.card .footer .social-links{font-size:18px;}
.card .footer .social-links a{margin:0 7px;}
@media only screen and (max-width:991px){.jumbotron h1{margin-top:90px;}
                                         .logo{width:300px;}
                                         .nav li a{font-size:14px;color:black;padding:15px 5px 15px 5px;}
                                         .pull-right{padding-right:25px;}
                                         footer{padding-top:50px;}
}
@media only screen and (max-width:767px){.jumbotron h1{margin-top:90px;}
                                         .logo{width:300px;}
                                         .nav li a{font-size:14px;color:black;padding:15px 5px 15px 5px;}
                                         .pull-right{padding-right:25px;}
                                         footer{padding-top:50px;}
}
@media only screen and (max-width:480px){.logo{width:300px;}
                                         .nav li a{font-size:14px;color:black;padding:15px 5px 15px 5px;}
                                         .pull-right{padding-right:25px;}
                                         footer{padding-top:50px;}
}
@media only screen and (max-width:321px){.nav li a{font-size:13px;color:black;padding:15px 5px 15px 5px;}
                                         .pull-right{padding-right:0px;}
                                         .logo{width:275px;}
                                         footer{padding-top:50px;}
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){.front,
                                                                       .back{-ms-backface-visibility:visible;backface-visibility:visible;}
                                                                       .back{visibility:hidden;-ms-transition:all 0.2s cubic-bezier(.92,.01,.83,.67);}
                                                                       .front{z-index:4;}
                                                                       .card-container:hover .back{z-index:5;visibility:visible;}
}
@media screen and (max-width:1199px){.banner{display:none;}
                                     header{margin-top:0px;}
}