@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');body{font-family:'Roboto', sans-serif;position:relative;}
.jumbotron{background-image:url('files/bground2.jpg');background-size:cover;height:800px;margin-bottom:-20px;color:white;}
input{font-size:20px;}
textarea{font-size:15px}
.thanks{display:none;}
.jumbotron h1{padding-top:75px;}
.jumbotron p{font-family:'Roboto', sans-serif;font-weight:400}
header{position:fixed;background-color:white;width:100%;z-index:100;}
header img{padding-top:22px;z-index:101;}
.ss-form-entry{padding-bottom:30px;}
.img-responsive{ margin: 0 auto;}
.logo{width:380px;}
.section2{width:100%;height:800px;background-image:url('files/div2.png');color:white;margin-top:0px;margin-bottom:-20px}
.section2 h1{text-align:center;padding-top:100px;padding-bottom:75px;}
.section2 h3{text-align:center;}
.section3{width:100%;height:1200px;background-image:url('files/small_steps.png');margin-bottom:-20px}
.section3 h1{text-align:center;padding-top:100px;padding-bottom:75px;color:darkslategray;}
.section4{width:100%;height:800px;background-image:url('files/grey_wash_wall.png');margin-bottom:0px;color:white;margin-bottom:-20px;}
.section4 h1{text-align:center;padding-top:100px;padding-bottom:75px;color:white;}
.section5{width:100%;height:600px;background-image:url('files/linedpaper.png');margin-bottom:-20px}
.section5 h1{text-align:center;padding-top:100px;padding-bottom:25px;color:darkslategray;}
footer{width:100%;height:270px;background-image:url('files/dark_embroidery.png');color:white;}
footer a{color:whitesmoke;}
footer a:hover{color:lightgray;}
footer ul{list-style-type:none;margin-left:-40px;}
.thumbnail img{padding:20px}
.nav li{display:inline-block}
.nav li a{font-size:20px;color:black;padding-bottom:25px;padding-top:25px;}
.pull-right{padding-right:50px;}
.btn-success{background-color:rgb(0,217,101);border-color:rgb(0,217,101)}
.caption{text-align:center;}
.card-container{-webkit-perspective:800px;-moz-perspective:800px;-o-perspective:800px;perspective: 800px;margin-bottom:30px;}
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);}
.card-container.static:hover .card,
.card-container.static.hover .card{-webkit-transform:none;-moz-transform:none;-o-transform:none;transform:none;}
.card{-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;-o-transition:-o-transform .5s;transition:transform .5s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d;position:relative;}
.front, .back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:0;left:0;background-color:#FFF;box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.14);}
.front{z-index:2;}
.back{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);z-index:3;}
.card{background:none repeat scroll 0 0 #FFFFFF;border-radius:4px;color:#444444;}
.card-container, .front, .back{width:100%;height:420px;border-radius:4px;}
.card .cover{height:105px;overflow:hidden;border-radius:4px 4px 0 0;}
.card .cover img{width:100%;}
.card .user{border-radius:50%;display:block;height:120px;margin:-55px auto 0;overflow:hidden;width:120px;}
.card .user img{background:none repeat scroll 0 0 #FFFFFF;border:4px solid #FFFFFF;width:100%;}
.card .content{background-color:rgba(0, 0, 0, 0);box-shadow:none;padding:10px 20px 20px;}
.card .content .main{min-height:160px;}
.card .back .content .main{height:215px;}
.card .name{font-size:22px;line-height:28px;margin:10px 0 0;text-align:center;text-transform:capitalize;}
.card h5{margin:5px 0;font-weight:400;line-height:20px;}
.card .profession{color:#999999;text-align:center;margin-bottom:20px;}
.card .footer{border-top:1px solid #EEEEEE;color:#999999;margin:30px 0 0;padding:10px 0 0;text-align:center;}
.card .footer .social-links{font-size:18px;}
.card .footer .social-links a{margin:0 7px;}
.card .motto{border-bottom:1px solid #EEEEEE;color:#999999;font-size:14px;font-weight:400;padding-bottom:10px;text-align:center;}
@media only screen and (max-width:991px)
{
    .jumbotron h1{margin-top:90px;}
    .section2{height:1500px}
.section3{height:2000px}
.logo{width:300px;}
.nav li a{font-size:14px;color:black;padding:15px 5px 15px 5px;}
.pull-right{padding-right:25px;}
footer{height:800px; padding-top:50px;}
.section4{height:1600px}
.section5{height:650px}
}
@media only screen and (max-width:767px)
{
    .jumbotron h1{margin-top:90px;}
    .section2{height:1500px}
.section3{height:2000px}
.logo{width:300px;}
.nav li a{font-size:14px;color:black;padding:15px 5px 15px 5px;}
.pull-right{padding-right:25px;}
footer{height:800px; padding-top:50px;}
.section4{height:1600px}
.section5{height:650px}
}
@media only screen and (max-width:480px)
{.section2{height:1500px}
.section3{height:1750px}
.logo{width:300px;}
.nav li a{font-size:14px;color:black;padding:15px 5px 15px 5px;}
.pull-right{padding-right:25px;}
footer{height:700px; padding-top:50px;}
.section4{height:1600px}
.section5{height:650px}
}@media only screen and (max-width:321px){
    .nav li a{font-size:13px;color:black;padding:15px 5px 15px 5px;}
    .pull-right{padding-right:0px;}
    .logo{width:275px;}
    footer{height:700px; padding-top:50px;}
}
   @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){.front, .back{-ms-backface-visibility:visible;backface-visibility:visible;}
.back{visibility:hidden;-ms-transition:all 0.2s cubic-bezier(.92,.01,.83,.67);}
.front{z-index:4;}
.card-container:hover .back{z-index:5;visibility:visible;}
}
